/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

header {
  background-color: #fcfcfc;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav ul li {
  flex: 1;
  text-align: center;
}

nav ul li:first-child {
  text-align: left;
}

nav ul li:last-child {
  text-align: right;
} */

.action-button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 1.6vw;
  text-decoration: none;
  text-align: center;
  -webkit-text-stroke: 0.03vw #333;
  text-stroke: 1px #333;
  color: #fff;
  background-color: #189e2a;
  border: none;
  border-radius: 4px;
}

.action-button:hover {
  background-color: rgb(194, 207, 51);
}

.nav-link,
nav .left-button a.button {
  -webkit-text-stroke: 0.03vw #333;
  text-stroke: 1px #333;
 color: #189e2a;
  padding: 10px 2vw;
  font-size: 2.4vw;
  
}

nav .right-button a.button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.3em;
}


/* ヒーローセクションのスタイル */
.hero {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100vw;
  height: 100%;
}

.hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}

.hero-overlay h1 {
  font-size: 5vw; /* 2倍の大きさ */
  margin-bottom: 20px;
  color: #b9e6bf;
  -webkit-text-stroke: 0.01vw #333;
  text-stroke: 1px #333;
 
  
} 

.hero-overlay p {
  font-size: 2.6vw;
  margin-bottom: 30px;
  color: #fff;
  -webkit-text-stroke: 0.05vw #333;
  text-stroke: 1px #333;
 
  
}

.hero-overlay a.button {
  font-size: 4vw;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: 6px soli #189e2a;/* 縁取りの色と幅を指定 */
  -webkit-text-stroke: 0.04vw #333;
  text-stroke: 1px #333;
}

.hero-overlay a.button:hover {
  background-color:  #189e2a;
}
.hero-overlay {
  top: 25%; 
}


/* 注目の商品セクションのスタイル */
.top-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 200px;
}

.featured {
  padding: 40px;
  background-color: #f9f9f9;
}

.featured h2 {
  font-size: 3vw;
  margin-bottom: 20px;
  color: #333;
}

.featured ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.featured li {
  display: inline-block;
  width: calc(33.33% - 40px);
  margin: 20px;
  vertical-align: top;
  box-sizing: border-box;
}

.featured li img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.featured li h3 {
  font-size: 2vw;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.featured li p {
  font-size: 1.3vw;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #555;
}


/*  */
.hero-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  z-index: -2;
}

.registration-main {
    border-radius: 8px; /* 角の半径を設定 */
  position: relative;
  z-index: 1;
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
}

.form-wrap {
  margin-bottom: 20px;
}

.form-header {
  margin-bottom: 20px;
}

.form-header-text {
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-text-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-text {
  font-size: 18px;
  color: #333;
}

.indispensable {
  font-size: 14px;
  color: red;
  margin-left: 5px;
}

.input-default {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px; /* Add border-radius property for rounded corners */
}

.login-btn {
  text-align: center;
}

.login-red-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 4px;
}

.login-red-btn:hover {
  background-color: darkred;
}

/* スタイル */
/* .error-messages {
  color: red;
  margin-bottom: 10px;
} */

.info-text {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.form-info-header {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.form-info-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.input-name-wrap {
  display: flex;
  margin-bottom: 10px;
}

.input-name {
  width: 50%;
  padding: 10px;
  font-size: 16px;
}

.select-birth {
  display: inline-block;
  width: auto;
  font-size: 16px;
  padding: 10px;
}

.register-red-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 4px;
}

.register-red-btn:hover {
  background-color: darkred;
}


.register-info {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}

/* スタイル */
.item-list {
  padding: 50px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 写真を中央に配置するために追加 */
  text-align: center; /* 写真のキャプションを中央に配置するために追加 */
}

.item-img {
  width: 100vw; /* 幅を100%に設定して親要素に合わせる */
  height: auto;
  max-width: 500px; /* 最大幅を300pxに設定して大きくなりすぎないようにする */
  max-height: 300px; /* 最大高さを300pxに設定して大きくなりすぎないようにする */
}



.item-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.item-info {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.item-price {
  font-size: 18px;
  font-weight: bold;
  color: #f00;
  margin-top: 10px;
}

.item-info {
  font-size: 16px;
  color: #555;
  margin-top: 5px;
}

.item-price {
  font-size: 18px;
  font-weight: bold;
  color: #f00;
  margin-top: 10px;
}

.detail-value1 {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}

.item-details {
  margin-top: 10px;
}

.detail-item {
  font-size: 14px;
  color: #888;
}

.detail-value1 {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}
.items-sell-contents {
  margin: 20px;
}

.items-sell-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.img-upload {
  margin-bottom: 20px;
}

.weight-bold-text {
  font-weight: bold;
}

.click-upload {
  border: 1px solid #ccc;
  padding: 20px;
  cursor: pointer;
}

.items-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.items-explain {
  margin-bottom: 20px;
}

.items-detail {
  margin-bottom: 20px;
}

.select-box {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.sell-price {
  margin-bottom: 20px;
}

.price-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.price-text {
  margin-right: 10px;
}

.sell-yen {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.price-input {
  width: 100px;
  padding: 5px;
}

.sell-btn-contents {
  margin-top: 20px;
  text-align: center;
}



.back-btn {
  padding: 10px 20px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.info-text {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.form-info-header {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.form-info-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.input-name-wrap {
  display: flex;
  margin-bottom: 10px;
}

.input-name {
  width: 50%;
  padding: 10px;
  font-size: 16px;
}

.select-birth {
  display: inline-block;
  width: auto;
  font-size: 16px;
  padding: 10px;
}

.sell-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 4px;
}

.sell-btn:hover {
  background-color: darkred;
}

.register-info {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 20px;
}


/* 商品詳細ページ全体のスタイル */
.item-show {
  margin-bottom: 20px;
}

/* 商品ボックスのスタイル */
.item-box {
  background-color: #f2f2f2;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 商品名のスタイル */
.name {
  font-size: 24px;
  margin-bottom: 5px;
  padding: 30px;
}

/* 商品画像のスタイル */
.item-img-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
.item-box-img2 {
  width: 60vw;
  height: auto;
}


/* 売り切れメッセージのスタイル */
.sold-out {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.sold-out2 {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 4px;
  text-align: left; /* テキストを左寄せにする */
  width: 10%; /* ボタンの幅を1/5に指定 */
}


/* 価格と送料のスタイル */
.item-price-box {
  margin-bottom: 10px;
}

.item-price {
  font-size: 20px;
  font-weight: bold;
}

.item-postage {
  font-size: 16px;
  color: #666;
}

/* 編集・削除リンクのスタイル */
.item-red-btn {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 16px;
  background-color: red;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.or-text {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
  color: #666;
}

.item-destroy {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ccc;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

/* 商品説明のスタイル */
.item-explain-box {
  margin-bottom: 10px;
  padding: 30px 40px;
}

/* 商品詳細テーブルのスタイル */
.detail-table {
  width: 50%;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.detail-item,
.detail-value {
  padding: 5px;
  border: 1px solid #ccc;
}

.detail-item {
  font-weight: bold;
  background-color: #f2f2f2;
}

/* オプションボタンのスタイル */
.option {
  margin-bottom: 10px;
}

.favorite-btn,
.report-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ccc;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
}

/* コメントボックスのスタイル */
.comment-box {
  margin-bottom: 10px;
  padding: 40px 40px;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 5px;
  margin-bottom: 5px;
}

.comment-warn {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.comment-btn {
  padding: 8px 16px;
  background-color: #f92c0d;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
.comment-list-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 1px 40px;
} 


.comment{
  display: flex;
  padding: 1px 40px;
}

.comment p{
   margin: 1;
}
.comment .post-time {
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}
.delete-comment-link {
  color: red;
  font-weight: bold;
  margin-left: 10px;
}
.user-info{
  color: gray;
  font-weight: bold;
}

.avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}


/* ページ内リンクのスタイル */
.links {
  margin-bottom: 10px;
  padding: 10px 40px;
}

.change-item-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #ccc;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
}

.another-item {
  font-size: 14px;
  color: #666;
}

/* */

.transaction-contents {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
}

.transaction-main {
  display: flex;
  flex-direction: column;
}

.transaction-title-text {
  font-size: 24px;
  margin-bottom: 20px;
}

.buy-item-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.buy-item-img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.buy-item-right-content {
  flex-grow: 1;
}

.buy-item-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.buy-item-price {
  display: flex;
  align-items: center;
}

.item-price-text {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.item-price-sub-text {
  font-size: 14px;
}

.item-payment {
  margin-bottom: 20px;
}

.item-payment-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.item-payment-price {
  font-size: 24px;
  font-weight: bold;
}

.transaction-form-wrap {
  margin-top: 20px;
}

.credit-card-form,
.shipping-address-form {
  margin-bottom: 20px;
}

.info-input-haedline {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-text-wrap {
  display: flex;
  align-items: center;
}

.form-text {
  margin-right: 5px;
}

.indispensable {
  color: red;
  font-size: 14px;
}

.input-default {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
}

.available-card {
  display: flex;
  margin-top: 10px;
}

.card-logo {
  width: 40px;
  height: 25px;
  margin-right: 10px;
}

.input-expiration-date-wrap {
  display: flex;
}

.select-box {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
}

.buy-btn {
  margin-top: 20px;
}

.buy-red-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 4px;
}

.buy-red-btn {
  margin-top: 20px;
  text-align: center;
}
.buy-red-btn:hover {
  background-color: darkred;
}
/*  */
.user-detail-title {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-top: 10%;
  /* 他のスタイルプロパティを追加 */
}

.user-info2 {
  text-align: center;
  font-size: 24px;
  color: #666;
  /* 他のスタイルプロパティを追加 */
}

.item-img2 {
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
  /* 他のスタイルプロパティを追加 */
}

.user-profile-image2 {
  border-radius: 50%;
  text-align: center;
  /* 他のスタイルプロパティを追加 */
}

.red-btn-wrapper {
  text-align: center;
  padding: 40px;
}

.red-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

.red-btn:hover {
  background-color: darkred;
}


/* フッターのスタイル */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 1.3vw;
  margin: 
  0;
}